html, body, h1 {
  margin: 0px;
  padding: 0px;
}

.App {
  position: fixed;
  display: flex;
  overflow: scroll;
  align-items: stretch;
  inset: 0px;  
  padding: 80px; 
}

.Modal { 
  user-select: none;
  margin: auto;
  width: 500px; 
  min-height: 300px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
 

.ModalFooter {
  margin-top:auto;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.ModalFooter button {
  padding: 10px 20px;
  background-color: rgba(0,0,0,0.1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.ModalFooter button:hover {
    opacity: 0.8;
}

.ModalFooter button:active {
  transform: translate(1px, 1px);
}

.Cursor {
  background-color: blue;
  border-radius: 50%;
  width: 25px;height: 25px;
}
